.logo{
  height:100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
html{
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(#40a798,#476268);
  color: #f5e1da;
  height: 100%;
  background-repeat:no-repeat;
  background-size:cover;
}
#signUp{
  border-style:none;
  background-color:transparent;
  text-decoration:none;
  color: #f5e1da;
  margin:0;
}
#signUp:hover{
  color: #f1f1f1;
  text-decoration: underline;
}
.header{
  padding-top: 10%;
}
h1{
}
input{
  border-style:none;
  height: 30px;
  width: 200px;
  font-size: 16px;
  color: #f5e1da;
  background-color:transparent;
}
::placeholder{
  color:#f5e1da;
  opacity: .8;
}
.footer{
  position: fixed;
  width: 100%;
  left: 0;
  right:0;
  bottom: 0;
  margin-top:40px;
}
.footerText{
  font-size: 10px;
  text-align: right;
  padding-right: 1%;
  padding-bottom: 0;
  font-family: 'Lato', sans-serif;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.align{
  padding-left: 33%;
  padding-right: 20%;
}
.loginCenter{
  text-align:center;
}
.signUp{
  margin-left:2%;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  background-color:#40a798;
}
#submitSignUp:hover{
  text-decoration:underline;
}
h1{
  text-align:center;
}
