/* header/navigation bar css */
nav{
  margin-top:0;
}
.header{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #476268;
  width: 100%;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.tab{
  background-color: #476268;
  border-style: none;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left:20px;
  padding-right: 20px;
  overflow-x:hidden;
  overflow-y: hidden;
  padding-top: 3%;
  padding-bottom: 10%;
  height: 100%;
}
.tab:hover{
  background-color:#34474c
}
.nav{
  margin: 0;
}

/* footer */

.footer{
  background-color: #476268;
  position: absolute;
  width: 100%;
  left: 0;
  right:0;
  bottom: 0;
  margin-top:40px;
}
.footerText{
  font-size: 10px;
  text-align: right;
  padding-right: 1%;
  padding-bottom: 0;
  font-family: 'Lato', sans-serif;
}
/* about us page css */

#aboutUs{
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  color:#476268;
  pading-bottom: 2%;
}
#leftAbout{
  background-color: #f5e1da;
  flex-grow: 1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-left:1%;
  border-radius: 5%;
  padding-bottom:2%
}
#middleAbout{
  background-color: #f1f1f1;
  flex-grow: 1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-left:1%;
  border-radius: 5%;
  padding-bottom:2%
}
#rightAbout{
  background-color: #f5e1da;
  flex-grow: 1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-left:1%;
  border-radius: 5%;
  padding-bottom:2%
}
/* general css */
.topic{
  text-align:center;
  padding-top: 50px;
  min-height: 100%;
}
html{
  background-color:#40a798;
  color: #f1f1f1;
  font-family: 'Lato', sans-serif;
}

/* home page css */

.ourNames{
  text-align:center;
}
.ourPictures{
  border-radius: 50%;
  height:200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.linkedin{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:40px;
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.bios{
  text-align:center
}
.linkedin:hover{
  opacity:0.7;
}
.home{
  background-color: #f5e1da;
  border-radius: 5%;
  color: #476268;
  margin-top: 70px;
  margin-left: 3%;
  margin-right: 3%;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  overflow-y: scroll;
}
#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-bottom: 1%;
}
.homeText{
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
}
#bottomHomeP{
  padding-bottom: 3%;
}
#quiz{
  background-color:#40a798;
  text-decoration: none;
  color: #F1F1F1;
  font-size: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  margin-bottom: 6%;
}
