<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  </head>
  <!-- Here is the navigation bar! Copy it to the other pages-->
  <nav>
    <div class="header">
      <div class="nav"><form action="/"><button type="submit" class="tab">Home</button></form></div>
      <div class="nav"><form action="/aboutus" ><button type="submit" class="tab">About Us</button></form></div>
      <div class="nav"><form action="/results" ><button type="submit" class="tab">Results</button></form></div>
    </div>
  </nav>
  <body>
<h1 id="aboutUsHeader">About Us</h1>
<div id="aboutUs">
  <div id="leftAbout">
    <h3 class="ourNames">Jason Ditullio</h3>
    <img src="images/jason.jpg" alt="jason_pic" class="ourPictures">
    <p class="bios"> Jason will be attending the University of Redlands and plans to study Computer Science. </p>
    <a href="https://www.linkedin.com/in/jason-ditullio-80583318b"><img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt="linkedin" class="linkedin"> </a>
  </div>
  <div id="middleAbout">
    <h3 class="ourNames">Hannah Salameh</h3>
    <img src="images/hannah.jpg" alt="hannah_pic" class="ourPictures">
    <p class="bios"> Hannah will be attending the University of Michigan and plans to study Computer Science. </p>
    <a href = "https://www.linkedin.com/in/hannah-salameh "> <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt="linkedin"  class="linkedin"></a>
  </div>
  <div id="rightAbout">
    <h3 class="ourNames">Isaac Abdi</h3>
    <img src="images/isaac.jpg" alt="issac_pic" class="ourPictures">
    <p class="bios"> Isaac will be attending Wilfrid Laurier University and plans to study Computer Science. </p>
    <a href="https://www.linkedin.com/in/isaac-abdi-96b44518a"><img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt="linkedin"  class="linkedin"></a>
  </div>
</div>
  </body>
</html>
