<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <style media="screen">
      html{
        background-image:url("images/background.jpg");
      }
    </style>
  </head>
<!-- header is here -->
  <nav>
    <div class="header">
      <form action="/"><button type="submit" class="tab">Home</button></form>
      <form action="/aboutus" ><button type="submit" class="tab">About Us</button></form>
      <form action="/quiz" ><button type="submit" class="tab">Quiz</button></form>
    </div>
  </nav>
  <body>
    <div class="home">
      <h1 class="topic" id="homeTitle">What do you want to eat?</h1>
      <img src="images/burger.png" alt="logo" id="logo">
      <p class="homeText">Throughout history, everyone has been stumped by this
        question at least once. From the greatest historians to the youngest child,
        no one seems to truly know what they want.</p>
      <p class="homeText" id="bottomHomeP"> With (insert website title here) you no longer have
      to be so stuck! Through our website, every day people are able to meticulously
      describe their food preferences through a quiz and be greeted with a
      computer-generated food item perfectly able to satisfy their cravings.
      Indecisiveness is a thing of the past with (insert website title here)!</p>
      <form class="" action="/quiz">
      <button type="submit" id="quiz">Take the Quiz Here!</button>
      </form>
    </div>
  </body>
<!-- footer is here -->
  <div class="footer">
    <p class="footerText">Google CSSI 2019</p>
  </div>
</html>
