<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <style media="screen">
      html{
        background-image:url("images/background.jpg");
      }
    </style>
    <link rel="icon" type="image/png" href="images/logo_burger.png">
  </head>
<!-- header is here -->
<nav>
  <div class="header">
    <img src="images/logo.png" alt="Kravings" id="kravings">
    <form action="/home"><button type="submit" class="tab">Home</button></form>
    <form action="/quiz" ><button type="submit" class="tab">Quiz</button></form>
    <form action="/results" ><button type="submit" class="tab">Randomize</button></form>
    <form action="/pastfoods" method="get"><button type="submit" class="tab">Prior Results</button></form>
    <form action="/aboutus" ><button type="submit" class="tab">About Us</button></form>
  </div>
</nav>
  <body>
    <div class="home">
      <form class="signOut" action="/logout" method="get"><button type="submit" id="logOut">Log Out</button></form>
      <h1 class="topic" id="homeTitle">What do you want to eat?</h1>
      <img src="images/logo_burger.png" alt="logo" id="logo">
      <p class="homeText">Everyone has been faced with this trying question. Yet have no fear! </p>
      <p class="homeText" id="bottomHomeP"> With Kravings you no longer have
      to be so stuck! Through our website, every day people are able to meticulously
      describe their food preferences through a quiz and be greeted with a
      computer-generated food item perfectly able to satisfy their cravings. Alteratively,
      users can randomize results to get suggestions of any food to eat. Indecisiveness is a thing of the past with Kravings!</p>
      <form class="" action="/quiz">
      <button type="submit" id="quiz">Take the Quiz Here!</button>
      </form>
    </div>
  </body>
<!-- footer is here -->
  <div class="footer">
    <div class="footerText2"> {{firstname}} {{lastname}} is logged in </div> <div class="footerText">Google CSSI 2019</div>
  </div>
</html>
