<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log In</title>
    <link rel="stylesheet" href="stylesheets/login.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <style media="screen">
      #username{
        background: #40a798 url(images/usericon.png) left no-repeat;
        padding-left: 34px;
      }
      #password{
        background: #40a798 url(images/key.png) left no-repeat;
        padding-left: 38px;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <img src="images/logo_burger.png" alt="logo" class="logo">
    </div>
    <div class="loginCenter">
    <h1> Login to Kravings</h1>
    <form class="" action="index.html" method="post">
      <input type="text" name="username" placeholder="Username" id="username"> <br> <br>
      <input type="password" name="password" placeholder="Password" id="password"> <br><br><br>
      <!-- make it so this checks the values with a database when you push submit-->
      <input type="submit" value="Submit">
    </form><br>
    <form class="" action="/signup" method="post"><button type="submit" name="button" id="signUp">Don't have an account? Sign up here!</button></form>
    </div>
    <div class="footer">
      <p class="footerText">Google CSSI 2019</p>
    </div>
  </body>
</html>
