<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Food Quiz</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <style media="screen">
      html{
        background-image:url("images/background.jpg");
      }
    </style>
    <script type="text/javascript" src="scripts/script.js"> </script>
  </head>
  <nav>
    <div class="header">
      <form action="/"><button type="submit" class="tab">Home</button></form>
      <form action="/aboutus" ><button type="submit" class="tab">About Us</button></form>
      <form action="/quiz" ><button type="submit" class="tab">Quiz</button></form>
    </div>
  </nav>
  <body>
    <br>
    <form action= "/results" class="quiz" method="post"><br>
    <p class = "q"> 1. {{q1}} </p>
    <div class="question">
      Strongly Disagree <input type="radio" name="burger1" value="1">
      <input class="input" type="radio" name="burger1" value="2">
      <input class="input" type="radio" name="burger1" value="3">
      <input class="input" type="radio" name="burger1" value="4">
      <input class="input" type="radio" name="burger1" value="5"> Strongly Agree
    </div>
    <p class="q"> 2. {{q2}} </p>
  <div class="question">
    Strongly Disagree <input type="radio" name="ice_cream1" value="1">
    <input class="input" type="radio" name="ice_cream1" value="2">
    <input class="input" type="radio" name="ice_cream1" value="3">
    <input class="input" type="radio" name="ice_cream1" value="4">
    <input class="input" type="radio" name="ice_cream1" value="5"> Strongly Agree
    </div>
    <p class = "q"> 3. {{q3}} </p>
  <div class="question">
    Strongly Disagree <input type="radio" name="tofu1" value="1">
    <input class="input" type="radio" name="tofu1" value="2">
    <input class="input" type="radio" name="tofu1" value="3">
    <input class="input" type="radio" name="tofu1" value="4">
    <input class="input" type="radio" name="tofu1" value="5"> Strongly Agree
  </div>

    <p class = "q" id = "beef"> 4. {{q4}} </p>
  <div class="question">
    Strongly Disagree <input type="radio" name="beef1" value="1">
    <input class="input" type="radio" name="beef1" value="2">
    <input class="input" type="radio" name="beef1" value="3">
    <input class="input" type="radio" name="beef1" value="4">
    <input class="input" type="radio" name="beef1" value="5"> Strongly Agree
  </div>
  <!-- need javascript so it doesnt destroy the page when you forget a value-->
  <!-- need python so it can figure out what to do when 2 are tied? ranodmize which is shown-->
    <p class="q"> 5. {{q5}} </p>
  <div class="question">
    Strongly Disagree <input type="radio" name="seafood1" value="1">
    <input class="input" type="radio" name="seafood1" value="2">
    <input class="input" type="radio" name="seafood1" value="3">
    <input class="input" type="radio" name="seafood1" value="4">
    <input class="input" type="radio" name="seafood1" value="5"> Strongly Agree
  </div>
    <button type="button" class="submit" onclick="ifChecked()">Finish Survey!</button>
  </form>
  </body>
  <div class="footer">
    <p class="footerText">Google CSSI 2019</p>
  </div>
</html>
