<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Food Quiz</title>
  </head>
  <nav>
    <div class="header">
      <div class="nav"><form action="/"><button type="submit" class="tab">Home</button></form></div>
      <div class="nav"><form action="/aboutus" ><button type="submit" class="tab">About Us</button></form></div>
      <div class="nav"><form action="/results" ><button type="submit" class="tab">Results</button></form></div>
    </div>
  </nav>
  <body>

  </body>
</html>
