<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign up for Kravings</title>
    <link rel="stylesheet" href="stylesheets/login.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <script type="text/javascript" src="scripts/script.js"></script>
    <link rel="icon" type="image/png" href="images/logo_burger.png">
  </head>
  <body>
    <h1>Fill in all the boxes below:</h1>
    <div class="align">
    <form class="form" action="/" method="post" id="signUp">
      <p>First name:</p>
      <input type="text" name="first_name" placeholder="First Name" class = "signUp" id="firstName">
      <p>Last name:</p>
      <input type="text" name="last_name" placeholder="Last Name" class="signUp" id="lastName">
      <p>Username:</p>
      <input type="text" name="username" placeholder="Username" class="signUp" id="username1">
      <p>Password:</p>
      <input type="password" name="password" placeholder="Password" class="signUp" id="password1"><br><br><br>
      <input type="button" onclick="signUpCheck()" value="Create Account" id="submitSignUp">
    </form>
    </div>
    <div class="footer">
      <p class="footerText">Google CSSI 2019</p>
    </div>
  </body>
</html>
