<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <style media="screen">
      html{
        background-image:url("images/background.jpg");
      }
    </style>
  </head>
<!-- header is here -->
<nav>
  <div class="header">
    <img src="images/logo.png" alt="Kravings" id="kravings">
    <form action="/home"><button type="submit" class="tab">Home</button></form>
    <form action="/aboutus" ><button type="submit" class="tab">About Us</button></form>
    <form action="/quiz" ><button type="submit" class="tab">Quiz</button></form>
    </form>
  </div>
</nav>
  <body>
    <div id="loginBox">
      <form method="post" action = "/">
        <br>
        <h2>Username</h2>
        <input type="text" name="welcome_username" placeholder="username" value = "">
        <br>
        <h2>Password</h2>
        <input type="password" name="welcome_password" placeholder="password" value = "">
        <br>
        <br>
        <button id="loginbutton" type="submit" name="button">Login</button>
        <br><br>
      </form>

      <a method="post" href="/createAccount">
        <button id="createAccountbutton" type="submit">Create Account</button>
      </a>


      <p id = "incorrect">{{phrase}}</p>
    </div>
  </body>
<!-- footer is here -->
  <div class="footer">
    <p class="footerText">Google CSSI 2019</p>
  </div>
</html>
