<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <style media="screen">
      html{
        background-image:url("images/background.jpg");
      }
    </style>
    <link rel="icon" type="image/png" href="images/logo_burger.png">
  </head>
  <nav>
    <div class="header">
      <form action="/home"><button type="submit" class="logoButton"><img src="images/logo.png" alt="Kravings" id="kravings"></button></form>
      <form action="/quiz" ><button type="submit" class="tab">Quiz</button></form>
      <form action="/results" ><button type="submit" class="tab">Randomize</button></form>
      <form action="/pastfoods" method="get"><button type="submit" class="tab">Prior Results</button></form>
      <form action="/aboutus" ><button type="submit" class="tab">About Us</button></form>
    </div>
  </nav>
  <body>
    <div class="topSpacer"></div>
    {% for biz in businesses['businesses'] %}
    <a href="{{biz['url']}}" class="yelpNameResults"><h1>{{biz['name']}}</h1></a>
    <ul class="resultsList">
      <li>Address: {{biz['location']['display_address'][0]}}, {{biz['location']['display_address'][1]}} {{biz['location']['display_address'][2]}}</li>
      <li>Phone number: {{biz['display_phone']}}</li>
      <li>Rating: {{biz['rating']}}</li>
    </ul>
    {%endfor%}
    <div class="bottomSpacer"></div>
  </body>
  <div class="footer">
    <div class="footerText2"> {{firstname}} {{lastname}} is logged in </div> <div class="footerText">Google CSSI 2019</div>
  </div>
</html>
