<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <style media="screen">
      html{
        background-image:url("images/background.jpg");
      }
    </style>
    <link rel="icon" type="image/png" href="images/logo_burger.png">
  </head>
  <nav>
    <div class="header">
      <img src="images/logo.png" alt="Kravings" id="kravings">
      <form action="/home"><button type="submit" class="tab">Home</button></form>
      <form action="/aboutus" ><button type="submit" class="tab">About Us</button></form>
      <form action="/quiz" ><button type="submit" class="tab">Quiz</button></form>
      </form>
    </div>
  </nav>
  <body>
    {% for biz in businesses['businesses'] %}
    <h1>{{biz['name']}}</h1>
    {%endfor%}
  </body>
  <div class="footer">
    <div class="footerText2"> {{firstname}} {{lastname}} is logged in </div> <div class="footerText">Google CSSI 2019</div>
  </div>
</html>
